
.container {
  text-align: center;
}

.hiddenInput {
  display: none;
}

.info {
  margin-top: 10px;
}

.filename {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.error {
  margin-top: 12px;
  color: red;
  font-size: 0.9rem;
}